asgiref==3.2.10
backcall==0.2.0
decorator==5.1.0
dj-database-url==0.5.0
Django==3.1
django-crispy-forms==1.13.0
django-extensions==3.0.5
django-heroku==0.0.0
django-pygments-renderer==0.0.1
gunicorn==20.1.0
importlib-metadata==4.8.2
ipython
jedi==0.18.1
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.22
psycopg2-binary==2.9.2
ptyprocess==0.7.0
Pygments==2.10.0
pytz==2021.3
sqlparse==0.4.2
traitlets==5.1.1
wcwidth==0.2.5
whitenoise==5.3.0
zipp==3.6.0
gunicorn
django-heroku
psycopg2-binary
