{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row mt-3">
        <div class="col">
            <h4>Найти сниппет по номеру</h4>
            <form action="{% url 'search-snippet' %}" method="get">
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input name="result" type="text" class="form-control form-control-lg"  placeholder="введите число">
                    </div>
                    <div class="col-sm-2">
                        <input type="submit" class="form-control form-control-lg btn btn-info" value="Найти">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <hr>
            {% if snippets %}
                {% include 'pages/one_snippet.html' %}
            {% else %}
                <div><i>{{ result_not_found }}</i></div>
            {% endif %}
        </div>
    </div>
{% endblock %}