{% load static %}
<div class="row">
    <div class="col">
        <table class="table table-bordered">
            <thead >
            <tr>
                <th scope="col">Номер</th>
                <th scope="col">Название</th>
            </tr>
            </thead>
            <tbody>
            {% for snippet in snippets %}
                <tr>
                    <td scope="row">{{ snippet.id }}</td>
                    <td>
                        <a href="{% url 'snippet-page' pk=snippet.id %}">{{ snippet.name }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>