{% load static %}
<div class="row">
    <div class="col">
        <table class="table table-bordered">
            <thead >
            <tr>
                <th scope="col">Номер</th>
                <th scope="col">Название</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Пользователь</th>
                <th scope="col">Доступ</th>
            </tr>
            </thead>

            <tbody>
            {% for snippet in snippets %}
                <tr>
                    <td scope="row">{{ snippet.id }}</td>
                    <td>
                        <a href="{% url 'snippet-page' pk=snippet.id %}">{{ snippet.name }}</a>
                    </td>
                    <td>{{ snippet.creation_date }}</td>
                    <td scope="row">{{ snippet.user }}</td>
                    <td scope="row">{{ snippet.public|yesno:"Публичный,Закрытый" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>