{% extends 'base.html' %}
{% load static %}
{% block content %}
    <fieldset disabled>
       <div class="row disabled">
           <div class="col col-8">
               Название: {{ snippet.name }}<input type="text" value="йййййй" class="form-control">
           </div>
           <div class="col col-4">
               Дата создания:<input type="text" value="23.11.2020" class="form-control">
           </div>
       </div>
       <hr>
       <div class="row">
           <div class="col">
               <div class="p-2 h-100" style="border:1px solid #ced4da; border-radius:5px;">
                   <p>
                       print("hello world")
                   </p>

               </div>
           </div>
       </div>
    </fieldset>
{% endblock %}