{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if type == 'view' %}
        <fieldset disabled>
            <div class="row disabled">
                <div class="col col-8">
                    Название: <input type="text" value="{{ snippet.name }}" class="form-control">
                </div>
                <div class="col col-4">
                    Дата создания:<input type="text" value="{{ snippet.creation_date }}" class="form-control">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    Код:
                    <div class="" style="border:1px solid #ced4da; border-radius:5px;white-space: normal; padding: 1rem;">
                        <p><pre>{{ snippet.code |linebreaks|safe|escape}}</pre></p>
                    </div>
                </div>
            </div>
        </fieldset>
    {% elif type == 'edit' %}
        <form action="" method="post">
        {% csrf_token %}
            <div class="row">
                <div class="col col-12">
                    Название: <input name="name" type="text" value="{{ snippet.name }}" class="form-control">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    Код:
                    <div  style="border:1px solid #ced4da; border-radius:5px; height: 250px;">
                        <textarea name="code" style="border-radius:5px;white-space: normal; padding: 1em; border:0px; resize: none;  display: block;  width: 100%;  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box; height: 100%;  box-sizing: border-box;">{{snippet.code}}</textarea>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <input type="submit" class="btn btn-primary btn-block" value="Сохранить">
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}