{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if type == 'view' %}
        <fieldset disabled>
            <div class="row disabled">
                <div class="col col-3">
                    {{ name }}<input type="text" value=" {{ snippet.name }}" class="form-control">
                </div>
                <div class="col col-3">
                    {{ lang }}<input type="text" value=" {{ snippet.lang }}" class="form-control">
                </div>
                <div class="col col-3">
                    {{ creation_date }}<input type="text" value="{{ snippet.creation_date }}" class="form-control">
                </div>
                <div class="col col-3">
                    {{ update_date }}<input type="text" value="{{ snippet.update_date }}" class="form-control">
                </div>
                <div class="col col-3">
                    {{ user }}<input type="text" value="{{ snippet.user }}" class="form-control">
                </div>
                <div class="col col-3">
                    {{ public }}<input type="text" value="{{ snippet.public|yesno:'Публичный,Закрытый' }}" class="form-control">
                </div>
            </div>
            <hr>
            <div class="row disabled">
                {% if request.user == snippet.user or request.user.is_superuser %}
                    <div class="col col-1">
                        <a href="{% url 'snippet-edit' pk=snippet.id %}" style=""><i class="fas fa-edit"></i></a>
                    </div>
                    <div class="col col-1">
                        <a href="{% url 'snippet-delete' pk=snippet.id %}" style=""><i class="fas fa-trash-alt"></i></a>
                    </div>
                {% endif %}

                <div class="col col-10"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col" >
                    Код:
                    <div class="" style="border:1px solid #ced4da; border-radius:5px;white-space: normal; padding: 1rem;">
                    {% load i18n %}
                    {% load pygmentize %}
                        <p><pre>{{ snippet.code |pygmentize:snippet.lang}}</pre></p>
                    </div>
                </div>
            </div>
        </fieldset>
        <table border="1">
            <tr>
                <th>Автор</th>
                <th>Комментарий</th>
            </tr>
            {% for comment in comments %}
                <tr>
                    <td>{{ comment.author.username }}</td>
                    <td>{{ comment.text }}</td>
                </tr>
            {% endfor %}
        </table>
        <form action="{% url 'comment_add' %}" method="POST">{% csrf_token %}
            <input type="hidden" name="id" value="{{ snippet.id }}">
            {{ comment_form }}
            <button type="submit">Добавить</button>
        </form>
    {% elif type == 'edit' %}
        <form action="" method="post">
        {% csrf_token %}
            <div class="row">
                <div class="col col-12">
                    Название: <input name="name" type="text" value="{{ snippet.name }}" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col col-12">
                    Язык: <input name="lang" type="text" value="{{ snippet.lang }}" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Код:
                    <div>
                        <textarea style="overflow:auto; width: 100%; min-height: 150px" name="code" >{{snippet.code}}</textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Открытый:
                    <div>
                        <input type="checkbox" name="public" {% if snippet.public %} checked {% endif %}>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div >
                    <input type="submit" class="btn btn-primary btn-block" style="max-width: 150px;" value="Сохранить">
                </div>
            </div>
        </form>

    {% endif %}
{% endblock %}