{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Название</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col">Дата изменения</th>
                    <th align="center" scope="col">Редактировать</th>
                    <th align="center" scope="col">Удалить</th>
                </tr>
                </thead>
                <tbody>

                {% for snippet in snippets %}
                    <tr>
                        <td scope="row">{{ snippet.id }}</td>
                        <td>
                            <a href="{% url 'snippet-page' pk=snippet.id %}">{{ snippet.name }}</a>
                        </td>
                        <td>{{ snippet.creation_date }}</td>
                        <td>{{ snippet.update_date }}</td>
                        <td>
                            <a href="{% url 'snippet-edit' pk=snippet.id %}"><i class="fas fa-edit"></i></a>
                        </td>
                        <td>
                            <a href="{% url 'snippet-delete' pk=snippet.id %}"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <div align="right">
                <i style="color: gray;">Всего сниппетов: {{ snippets|length }}</i>
            </div>
        </div>
    </div>

{% endblock %}